.backgroundImgExample {
  width: 250px;
  height: 141px;
  background: url(../../../assets/img/book1.jpg) no-repeat;
  background-size: 100% auto;
}

.imgExample {
  width: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
